@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Courier Prime', sans-serif;
}

body {
  background: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 450px;
  padding: 50px;
  color: #000;
  background: linear-gradient(145deg, #acbfc1, #7e8b8d);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 4px 40px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.calculator-display {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 3px solid #000;
  height: auto;
}

h2 {
  margin: 0;
  padding: 15px;
  font-size: 35px;
  font-weight: 100;
  overflow-x: auto;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fff;
}

::-webkit-scrollbar-thumb {
  background: #999;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Buttons */
.calculator-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 15px;
}

button {
  width: 75px;
  height: 75px;
  font-size: 25px;
  border: none;
  cursor: pointer;
  background: linear-gradient(145deg, #b1c4c6, #798688);
  border-radius: 100%;
  box-shadow: 4.2px 4.2px 12px #889698, -4.2px -4.2px 12px #a2b4b6;
}

button:hover {
  filter: brightness(105%);
}

button:active {
  transform: translateY(2px);
}

button:focus {
  outline: none;
}

.equal-sign {
  height: 350px;
  border-radius: 12px;
  grid-column: -2;
  grid-row: 2 / span 4;
}

@media screen and (max-width: 600px) {
  .calculator {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 10px;
  }

  h2 {
    font-size: 18px;
  }

  button {
    width: 50px;
    height: 50px;
    font-size: 15px;
  }

  .equal-sign {
    height: 225px;
  }
}
